body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-darkblue {
  background-color: darkslateblue;
  color: white;
}

#taskCol {
  height: 450px;
}

.btn-colorT {
  color: white;
  border-color: #1E90FF;
  background-color: #1E90FF;
}

.btn-colorP {
  color: white;
  border-color: #8A2BE2;
  background-color: #8A2BE2;
}

.btn-fade:hover {
  color: white;
  opacity: 0.8;
}

.sideBar {
  position: absolute;
  z-index: 1;
}

/* for task borders */
.border-darkblue {
  border-color: blueviolet !important;
}

.task-height {
  height: 130px;
}

.col-height {
  height: 600px;
}

.task-owner {
  background-color: #f6ecff;
}

.col-OK {
  background-color:  #e8fdec;
}

.col-NO {
  background-color: #fce3e3;
}